/*Criando dados importantes*/
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/ApercuRegular.otf);
}
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/ApercuBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Hanson;
    src: url(../fonts/Hanson/Hanson-Bold.otf);
}
::selection {
    color: black;
    background: white;
}

/*Inicio do CSS*/
html body{
    background-color: #0B0B0B;
}

element.style {
    display: block;
}

/* Nav bar */
#container {
    font-family: 'Apercu';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    margin-top: -10px;
}
#container {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    display: block;
    margin-top: -10px;
}
    /* Texto da nav bar*/
#caixa {
    width: 95%;
    background: linear-gradient(to right bottom, #E6E6FA, #FFF0F5, #E6E6FA);
    color: #fff;
    margin: -1px auto 0 auto;
    border-radius: 99px;
    display: block;
}

#caixa h2 {
    font-family: 'Apercu';
    font-weight: bold;
    font-size: 13px;
    color: black;
    text-align: left;
    margin-left: 10%;
    height: 40%;
    line-height: 40px;
}

h2 a{
    text-decoration: none;
    color: #0b0b0b;
    padding: 15px;
} h2 a:hover{color: #3a3a3a; font-size: 14px;}

a img{
    padding-top: 10px
}

/* Caixas invertidas */

    /* Caixa cor invertida topo*/
span.a {
    display: inline-block;
    width: 40%;
    height: 50px;
    background-color: #0b0b0b; 
    filter: invert();
}

.container-fluid h1 {
    font-family: 'Hanson';
    color: #F4F1EC;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
    animation: left_to_right 3s ease;
}
.container-fluid h1:hover{
    cursor: default;   
}

/*Terceiro texto (teste)*/

.container-fluid h3 {
    font-family: 'Hanson';
    color: #F4F1EC;
    font-size: 30px;
    margin-left: 0%;
    margin-top: 6%;
}

/*Caixona no final*/
.footer {
    width: 25em;
    height: 40em;
    background: linear-gradient(to right bottom, #E6E6FA, #FFF0F5, #E6E6FA);
    color: lavender;
    text-align: center;
    margin: 50px auto 0px 2.5%;
    border-radius: 10px;
    box-shadow: 0 1px 20px 0 #000;
    position: relative;
}
.footer h3{
    font-family: 'Hanson';
    color: #0B0B0B;
    font-size: 24px;
    padding-top: 50px;
    text-align: left;
}
.dados{
    padding-top: 50%;
    margin-left: 40px;
}

hr.corhr {
    border: 0px;
    height: 4px;
    background: linear-gradient(to right, #fea3aa , #f8b88b, #faf884, #baed91, #b2cefe, #f2a2e8);
    border-radius: 10px;
    opacity: 100%;
    margin-left: -1%; margin-right: 10%; margin-top: -5%;
}
.footer h4{
    font-family: 'Hanson';
    color: #0B0B0B;
    font-size: 16px;
    text-align: left;
}
  
/* Layout responsivo - substitue 2 por 4 */
  @media screen and (max-width: 800px) {
   
    }
  
  
/* Layout responsivo - faz as colunas ficarem em cima da outra */
  @media screen and (max-width: 600px) {
    
    .footer p{
        font-size: 50px;
    }
  }
